.card-party {
    @extend .card-badge;

    .card-inner {
        .infographic {
            margin-right: -15px;
            margin-left: -15px;
            padding-right: 15px;
            padding-left: 15px;

            @include media-breakpoint-up(md) {
                margin-left: 0;
                padding-left: 0;
            }
        }

        .badge-outer {
            border: 1px solid #ddd;

            .badge-inner {
                height: 57px;
                width: 57px;
            }
        }
    }
}
