
/* PARAGRAPH STYLES */
/*adjustments to override new stylesheets*/
.paraHouseofCommonsHeading,
.paraOrderofBusinessHeading, 
.paraCommitteeListsHeading, 
.paraSummaryAgendaItemNote, 
.paraFutureBusinessDivisionHeading,
.paraFutureBusinessDate {
	line-height:1.4em;
} 

#content img {
	display:inline;
	margin:0;
}
em {
	font-style:italic;

}
.paraAdjournmentHeading
{
padding-top:3.5pt;
padding-left:42pt;
}

.paraAdjournmentProposedSubject
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

font-style:italic;
}

.paraAmendmentNumber
{
text-align:right;

font-weight:bold;
}

.paraAmendmenttoAmendmentPreamble
{
padding-top:11.5pt;
padding-left:36pt;
text-align:justify;

}

.paraAmendmenttoMotionPreamble
{
padding-top:11.5pt;
padding-left:36pt;
text-align:justify;

}

.paraAmendmenttoQueensSpeechAddressPreamble
{
padding-top:3.5pt;
padding-left:36pt;
text-align:justify;

}

.paraAnswerDateHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:13pt;
}

.paraBalloonText
{
font-family:Tahoma;
font-size:8pt;
}

.paraBusinessItemHeading
{
padding-top:11.5pt;
padding-left:60.1pt;
text-align:justify;

}

.paraBusinessItemNote
{
padding-top:3.5pt;
padding-left:60pt;
text-align:justify;

font-style:italic;
}

.paraBusinessSub-ItemHeading
{
padding-top:11.5pt;
padding-left:42pt;
text-align:justify;

}

.paraCasesSub-Heading
{
padding-top:11.5pt;
padding-bottom:11.5pt;
text-align:center;

}

.paraClauseTitle
{
padding-top:5.75pt;
padding-left:102pt;

font-weight:bold;
}

.paraCommitteeAppointmentRubric
{
padding-top:11.5pt;
padding-bottom:11.5pt;
text-align:center;

font-style:italic;
}

.paraCommitteeBusinessDescription
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

font-size:10pt;
}

.paraCommitteeGroupHeading
{
padding-top:10.5pt;
text-align:center;

font-weight:bold;
font-size:10pt;
}

.paraCommitteeListItemNumber
{
padding-top:5.25pt;
text-align:right;

font-size:10pt;
}

.paraCommitteeListsHeading
{
padding-top:16pt;
text-align:center;
font-weight:bold;
font-size:16pt;
}

.paraCommitteeListsRubric
{
padding-top:15.75pt;
text-align:center;

font-style:italic;
font-size:10pt;
}

.paraCommitteeName
{
padding-top:5.25pt;
padding-left:21pt;

font-weight:bold;
font-size:10pt;
}

.paraCommitteeofSelectionHeading
{
padding-top:11.5pt;
text-align:center;

}

.paraCommitteeonaPrivateBillHeading
{
padding-top:11.5pt;
padding-bottom:11.5pt;
text-align:center;

}

.paraCommitteeTimeLocation-firstsitting
{
padding-top:5.25pt;

font-weight:bold;
font-size:10pt;
}

.paraCommitteeTimeLocation-secondsitting
{

font-weight:bold;
font-size:10pt;
}

.paraContinuationLine
{
text-align:center;

font-style:italic;
}

.paraCorrigendumHeading
{
padding-top:5.75pt;
text-align:center;

font-weight:bold;
}

.paraCross-Heading-centre
{
padding-top:5.75pt;
padding-left:48pt;
text-align:center;

font-style:italic;
}

.paraCross-Heading-left
{
padding-top:5.75pt;
padding-left:84pt;

font-style:italic;
}

.paraCross-Heading-right
{
padding-top:5.75pt;
padding-left:48pt;
text-align:right;

font-style:italic;
}

.paraDeferredDivisionsCheckBox
{
padding-top:4pt;
text-align:right;

font-size:18pt;
}

.paraDeferredDivisionsHeading
{
padding-top:16pt;
text-align:center;
font-weight:bold;
font-size:16pt;
}

.paraDeferredDivisionsRubric
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

font-size:12pt;
}

.paraDefinitionList
{
padding-top:3.5pt;
padding-left:132pt;
text-align:justify;

}

.paraDefinitionSub-List
{
padding-top:3.5pt;
padding-left:174pt;
text-align:justify;

}

.paraEndRule
{
padding-top:5.75pt;

}

.paraEndnoteIndentedText
{
padding-left:36pt;

font-size:8pt;
}

.paraEndnoteText
{
padding-top:2pt;

font-size:8pt;
}

.paraFBPrivateMembersBillItemHeading
{
padding-top:3.5pt;
padding-left:42pt;
text-align:justify;

}

.paraFooter
{

}

.paraFootnoteText
{
text-align:justify;

font-style:italic;
font-size:9pt;
}

.paraForthcomingDebatesHeading
{
padding-top:11.5pt;
text-align:center;

font-weight:bold;
}

.paraFutureBusinessDate
{
padding-top:5.75pt;
padding-left:24pt;
font-weight:bold;
font-size:13pt;
}

.paraFutureBusinessDateNote
{
padding-top:3.5pt;
padding-left:63pt;
text-align:justify;

}

.paraFutureBusinessDivisionHeading
{
padding-top:18pt;
text-align:center;
font-weight:bold;
font-size:13pt;
}

.paraFutureBusinessDivisionNote
{
padding-top:2pt;
text-align:justify;

font-style:italic;
font-size:9pt;
}

.paraFutureBusinessHeading
{
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraFutureBusinessIntroHeading
{
padding-top:12pt;
text-align:justify;

font-weight:bold;
font-size:12pt;
}

.paraFutureBusinessIntroText
{
padding-top:3.5pt;
padding-left:24pt;
text-align:justify;

}

.paraFutureBusinessItemGroupHeading
{
padding-top:3.5pt;
padding-left:63pt;
text-align:justify;

}

.paraFutureBusinessItemHeading
{
padding-top:3.5pt;
padding-left:60pt;
text-align:justify;

}

.paraFutureBusinessListItem
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

}

.paraFutureBusinessNote
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

font-weight:bold;
font-style:italic;
}

.paraFutureBusinessRubric-centred
{
padding-top:3.5pt;
text-align:center;

font-weight:bold;
font-style:italic;
}

.paraFutureBusinessRubric-justified
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

font-weight:bold;
font-style:italic;
}

.paraFutureBusinessSub-ItemHeading
{
padding-top:3.5pt;
padding-left:42pt;
text-align:justify;

}

.paraGCOrderofBusinessSittingDate
{
padding-top:5.75pt;
text-align:center;

font-size:18pt;
}

.paraGCOrderofBusinessSittingLocation
{
padding-top:5.75pt;
padding-bottom:5.75pt;
text-align:center;

font-weight:bold;
}

.paraGrandCommitteeHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraGrandCommitteeName
{
text-align:center;

font-weight:bold;
text-transform:uppercase;
font-size:18pt;
}

.paraGrandCommitteeNoticesHeading
{
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraGrandCommitteeNoticesofQuestionsHeading
{
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraGrandCommitteeOrderofBusiness
{
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraGrandCommitteeSittingDateHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:13pt;
}

.paraHeader
{

font-weight:bold;
font-size:14pt;
}

.paraHeading1
{
padding-top:12pt;
padding-bottom:3pt;
font-family:Arial;
font-weight:bold;
font-size:16pt;
}

.paraHeading2
{
padding-top:12pt;
padding-bottom:3pt;
font-family:Arial;
font-weight:bold;
font-style:italic;
font-size:14pt;
}

.paraHeading3
{
padding-top:12pt;
padding-bottom:3pt;
font-family:Arial;
font-weight:bold;
font-size:13pt;
}

.paraHeading4
{
padding-top:12pt;
padding-left:5.65pt;

font-weight:bold;
}

.paraHeading5
{
padding-top:12pt;
padding-bottom:3pt;

font-weight:bold;
font-style:italic;
font-size:13pt;
}

.paraHeading6
{
padding-top:12pt;
padding-bottom:3pt;

font-weight:bold;
}

.paraHeading7
{
padding-top:12pt;
padding-bottom:3pt;

font-size:12pt;
}

.paraHeading8
{
padding-top:12pt;
padding-bottom:3pt;

font-style:italic;
font-size:12pt;
}

.paraHeading9
{
padding-top:12pt;
padding-bottom:3pt;
font-family:Arial;
}

.paraHouseofCommonsHeading
{
text-align:center;

font-size:24pt;
}

.paraItemSeparatorRule
{
padding-top:11.5pt;

}

.paraListofPrivateBillsColumnHeading
{
padding-top:3.5pt;
padding-bottom:6.5pt;

font-size:6pt;
}

.paraListofPrivateBillsHeading
{
padding-top:6pt;
text-align:center;

font-weight:bold;
font-size:18pt;
}

.paraListofPrivateBillsIssueDate
{
text-align:center;

font-size:18pt;
}

.paraListofPrivateBillsPartNumber
{
padding-top:14pt;
text-align:center;

font-weight:bold;
font-size:12pt;
}

.paraListofPrivateBillsPartTitle
{
padding-top:11.5pt;
padding-bottom:11.5pt;
text-align:center;

font-style:italic;
}

.paraListofPrivateBillsRowHeading
{
padding-top:4pt;
padding-left:8pt;

font-size:8pt;
}

.paraListofPrivateBillsRowText
{
padding-top:4pt;

font-size:8pt;
}

.paraListofPrivateBillsSession
{
padding-top:6pt;
text-align:center;

font-weight:bold;
font-size:14pt;
}

.paraListofPrivateBillsSittingDate
{
text-align:center;

font-size:18pt;
}

.paraListofPrivateBillsSub-Heading
{
text-align:center;

font-variant:small-caps;
font-size:18pt;
}

.paraMainBusinessHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraMemberinCharge
{
padding-left:90pt;

font-style:italic;
}

.paraMemberNameandSignature
{
padding-top:18pt;

font-weight:bold;
font-size:14pt;
}

.paraMemorandumHeading
{
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraMemorandumNote
{
padding-top:5.75pt;

font-style:italic;
}

.paraMemorandumRubric
{
padding-top:5.75pt;
text-align:center;

font-weight:bold;
}

.paraMemorandumSectionHeading
{
padding-top:12pt;
text-align:center;

font-weight:bold;
font-size:12pt;
}

.paraMemorandumTableHeading
{
padding-top:5.75pt;

font-style:italic;
}

.paraMemorandumTableText
{
padding-top:3.5pt;

}

.paraMemorandumText
{
padding-top:5.75pt;
text-align:justify;

}

.paraMinisterialReportText
{
padding-top:3.5pt;
padding-left:54pt;
text-align:justify;

}

.paraMinisterialReportsHeading
{
padding-top:11.5pt;
text-align:center;

font-variant:small-caps;
}

.paraMinisterialReportsRubric
{
padding-top:5.75pt;
text-align:center;

font-style:italic;
}

.paraMinisterialStatement
{
padding-top:3.5pt;
padding-left:60pt;
text-align:justify;

font-weight:bold;
}

.paraMotionCross-Heading-centreditalic
{
padding-top:11.5pt;
text-align:center;

font-style:italic;
}

.paraMotionCross-Heading-centredregular
{
padding-top:11.5pt;
padding-bottom:8pt;
text-align:center;

}

.paraMotionCross-Heading-leftitalic
{
padding-top:3.5pt;
padding-left:65pt;
text-align:justify;

font-style:italic;
}

.paraMotionCross-Heading-leftregular
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

}

.paraMotionNote
{
padding-top:3.5pt;
padding-left:60pt;
text-align:justify;

font-style:italic;
}

.paraMotionNote-centred
{
padding-top:3.5pt;
text-align:center;

font-style:italic;
}

.paraMotionNumberedParagraph-continued
{
padding-top:3.5pt;
padding-left:78pt;
text-align:justify;

}

.paraMotionNumberedParagraph-hanging
{
padding-top:3.5pt;
padding-left:78pt;
text-align:justify;

}

.paraMotionNumberedParagraph-indented
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

}

.paraMotionSeparator
{

color:#000000;
}

.paraMotionSponsor
{
padding-top:3.5pt;
padding-left:42pt;

}

.paraMotionSponsorGroup
{
padding-top:3.5pt;
padding-left:72pt;

}

.paraMotionSub-Paragraph
{
padding-top:3.5pt;
padding-left:102pt;
text-align:justify;

}

.paraMotionSub-Paragraph-continued
{
padding-top:3.5pt;
padding-left:102pt;
text-align:justify;

}

.paraMotionSub-Sub-Paragraph
{
padding-top:3.5pt;
padding-left:126pt;
text-align:justify;

}

.paraMotionText
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

}

.paraMotionText-continued
{
padding-top:3.5pt;
padding-left:48pt;
text-align:justify;

}

.paraNormal
{

font-size:11pt;
}

.paraNormalWeb
{
padding-top:5pt;
padding-bottom:5pt;

font-size:12pt;
}

.paraNoticeofMotionHeading
{
padding-top:11.5pt;
text-align:center;

}

.paraNoticeText
{
padding-top:3.5pt;
text-align:justify;

}

.paraOfficeoftheExaminersHeading
{
padding-top:11.5pt;
text-align:center;

font-weight:bold;
}

.paraOpposedBillSub-Heading
{
padding-top:11.5pt;
text-align:center;

font-variant:small-caps;
}

.paraOralQuestionsHeading
{
padding-top:11.5pt;
text-align:center;

font-weight:bold;
font-size:13pt;
}

.paraOrderofBusinessHeading
{
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraOrderofBusinessItemSeparator
{

font-weight:bold;
color:#000000;
}

.paraOrderofBusinessItemTiming
{
padding-bottom:5.75pt;

font-weight:bold;
}

.paraOrderofBusinessNote
{
padding-top:11.5pt;
padding-left:48pt;
text-align:justify;

font-weight:bold;
font-style:italic;
}

.paraOrderofBusinessNotice
{
padding-top:5.75pt;
text-align:center;

font-weight:bold;
}

.paraOrderofBusinessNoticesHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraOrderofBusinessRubric-centred
{
padding-top:11.5pt;
text-align:center;

font-weight:bold;
font-style:italic;
}

.paraOrderofBusinessRubric-justified
{
padding-top:11.5pt;
padding-left:48pt;
text-align:justify;

font-weight:bold;
font-style:italic;
}

.paraOrderofBusinessSub-SectionHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraPAFootnoteText
{
/*based on: FootnoteText*/
text-align:justify;
text-align:justify;

font-style:italic;
font-size:9pt;

font-style:italic;
font-size:9pt;
padding-top:13pt;

}

.paraPapersHeading
{
padding-top:24pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraPapersTableHeading
{

font-weight:bold;
font-style:italic;
font-size:9pt;
}

.paraPapersTableText
{
padding-top:7pt;
padding-left:24pt;
text-align:justify;

font-size:12pt;
}

.paraParagraph
{
padding-top:3.5pt;
padding-left:126pt;
text-align:justify;

}

.paraParagraph-continued
{
padding-top:3.5pt;
padding-left:126pt;
text-align:justify;

}

.paraPetitionforPrivateBillsHeading
{
padding-top:11.5pt;
padding-bottom:11.5pt;
text-align:center;

font-weight:bold;
}

.paraPMQNote
{
padding-top:5.75pt;
text-align:center;

font-weight:bold;
font-style:italic;
}

.paraPortcullis01
{
text-align:center;

font-size:12pt;
}

.paraPortcullis02
{
/*based on: Portcullis01*/
text-align:center;
text-align:center;

font-size:12pt;

font-size:12pt;

}

.paraPreliminaryBusinessHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraPreliminaryBusinessSub-Heading
{
padding-top:11.5pt;
text-align:center;

font-style:italic;
}

.paraPrivateBillShortTitle
{
padding-top:11.5pt;
text-align:center;

}

.paraPrivateBillShortTitle-list
{
padding-top:3.5pt;
padding-left:78pt;
text-align:justify;

}

.paraPrivateBillStageDate
{
padding-top:11.5pt;
padding-bottom:8pt;
text-align:center;

font-style:italic;
}

.paraPrivateBillStageHeading
{
padding-top:11.5pt;
text-align:center;

font-variant:small-caps;
}

.paraPrivateBusinessAdjournedItemHeading
{
padding-top:11.5pt;
text-align:center;

}

.paraPrivateBusinessDailyHeading
{
padding-top:11.5pt;
text-align:center;

font-weight:bold;
}

.paraPrivateBusinessGivenHeading
{
padding-top:11.5pt;
text-align:center;

font-weight:bold;
}

.paraPrivateBusinessHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraPrivateBusinessItemHeading
{
padding-top:11.5pt;
text-align:center;

font-variant:small-caps;
}

.paraPrivateBusinessItemSub-Heading
{
padding-top:11.5pt;
text-align:center;

}

.paraPrivateBusinessNoticeHeading
{
padding-top:11.5pt;
text-align:center;

}

.paraPrivateBusinessNoticeText
{
padding-top:3.5pt;
padding-left:54pt;
text-align:justify;

}

.paraPrivateBusinessRubric
{
padding-top:11.5pt;
text-align:center;

font-style:italic;
}

.paraPrivateBusinessTableColumnHeading
{
padding-bottom:11.5pt;
text-align:center;

font-style:italic;
}

.paraPrivateBusinessTableText-centred
{
text-align:center;

}

.paraPrivateBusinessTableText-justified
{
padding-left:12pt;
text-align:justify;

}

.paraPrivateBusinessTableText-nothanging
{

}

.paraPrivateBusinessTableText-notjustified
{
padding-left:12pt;

}

.paraPrivateMembersBillItemHeading
{
padding-top:11.5pt;
padding-left:42pt;
text-align:justify;

}

.paraPrivateMembersBillsHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraProcedureandMoneyResolutionsHeading
{
padding-top:11.5pt;
padding-bottom:8pt;
text-align:center;

}

.paraQuestion
{
padding-top:11.5pt;
padding-left:60pt;
text-align:justify;

}

.paraRelevantDepartments
{
padding-top:5.75pt;
text-align:center;

font-weight:bold;
font-style:italic;
}

.paraScheduleParagraph
{
padding-top:3.5pt;
padding-left:102pt;
text-align:justify;

}

.paraScheduleParagraph-continued
{
padding-top:3.5pt;
padding-left:102pt;
text-align:justify;

}

.paraSchedulePartNumber
{
padding-top:11.5pt;
text-align:center;

font-variant:small-caps;
}

.paraSchedulePartTitle
{
padding-top:11.5pt;
padding-left:48pt;
text-align:center;

font-variant:small-caps;
}

.paraScheduleSub-Paragraph
{
padding-top:3.5pt;
padding-left:126pt;
text-align:justify;

}

.paraScheduleSub-Paragraph-continued
{
padding-top:3.5pt;
padding-left:126pt;
text-align:justify;

}

.paraScheduleSub-Sub-Paragraph
{
padding-top:3.5pt;
padding-left:150pt;
text-align:justify;

}

.paraScheduleSub-Sub-Paragraph-continued
{
padding-top:3.5pt;
padding-left:150pt;
text-align:justify;

}

.paraScheduleSub-Sub-Sub-Paragraph
{
padding-top:3.5pt;
padding-left:174pt;
text-align:justify;

}

.paraScheduleSub-Sub-Sub-Paragraph-continued
{
padding-top:3.5pt;
padding-left:174pt;
text-align:justify;

}

.paraScheduleSub-Sub-Sub-Sub-Paragraph
{
padding-top:3.5pt;
padding-left:198pt;
text-align:justify;

}

.paraScheduleTableTitle
{
padding-top:3.5pt;
padding-left:48pt;
text-align:center;

}

.paraSCRAOrderofBusinessHeading
{
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraSittingDate
{
text-align:center;

font-size:18pt;
}

.paraSittinginWestminsterHall
{
text-align:center;

font-size:20pt;
}

.paraSittingLocation
{
padding-top:12pt;
text-align:center;

font-weight:bold;
font-size:12pt;
}

.paraStandingCommitteeNoticesHeading
{
padding-top:16pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraStandingCommitteeonRegionalAffairs
{
text-align:center;

font-weight:bold;
font-size:18pt;
}

.paraStandingOrderAmendmentNumber
{
text-align:right;

font-weight:bold;
}

.paraStandingOrderAmendmentText
{
padding-top:3.5pt;
padding-left:96pt;
text-align:justify;

}

.paraStandingOrderNumberedParagraph-hanging
{
padding-top:11.5pt;
padding-bottom:11.5pt;
padding-left:72pt;
text-align:justify;

}

.paraStandingOrderParagraph
{
padding-top:11.5pt;
padding-bottom:11.5pt;
padding-left:72pt;
text-align:justify;

}

.paraStandingOrderParagraph-indented
{
padding-top:3.5pt;
padding-left:60pt;
text-align:justify;

}

.paraStandingOrderSub-Paragraph
{
padding-top:3.5pt;
padding-left:108pt;
text-align:justify;

}

.paraStandingOrderSub-Sub-Paragraph
{
padding-top:3.5pt;
padding-left:126pt;
text-align:justify;

}

.paraStandingOrderTitle
{
padding-top:11.5pt;
padding-bottom:8pt;
padding-left:60pt;
text-align:justify;

}

.paraStandingOrdersCommitteeHeading
{
padding-top:11.5pt;
text-align:center;

}

.paraStandingOrdersCommitteeSub-Heading
{
padding-top:11.5pt;
text-align:center;

font-style:italic;
}

.paraStatementHeading
{
padding-top:11.5pt;
padding-left:42pt;
text-align:justify;

}

.paraSub-Paragraph
{
padding-top:3.5pt;
padding-left:150pt;
text-align:justify;

}

.paraSub-Paragraph-continued
{
padding-top:3.5pt;
padding-left:150pt;
text-align:justify;

}

.paraSub-Section
{
padding-top:3.5pt;
padding-left:102pt;
text-align:justify;

}

.paraSub-Section-continued
{
padding-top:3.5pt;
padding-left:102pt;
text-align:justify;

}

.paraSub-Sub-Paragraph
{
padding-top:3.5pt;
padding-left:174pt;
text-align:justify;

}

.paraSummaryAgendaHeading
{
padding-top:32pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraSummaryAgendaHouseofCommons
{
padding-bottom:9pt;
text-align:center;

font-size:24pt;
}

.paraSummaryAgendaItemNote
{
padding-top:7pt;
text-align:justify;

font-style:italic;
font-size:12pt;
}

.paraSummaryAgendaItemSeparator
{

font-weight:bold;
color:#000000;
font-size:12pt;
}

.paraSummaryAgendaItemText
{
padding-top:7pt;
text-align:justify;

font-size:12pt;
}

.paraSummaryAgendaItemTiming
{
padding-top:7pt;

font-weight:bold;
}

.paraSummaryAgendaNoteHeading
{
padding-top:14pt;
text-align:center;

font-style:italic;
font-size:12pt;
}

.paraSummaryAgendaNoteText
{
padding-top:7pt;
text-align:justify;

font-size:12pt;
}

.paraSummaryAgendaRubric-centred
{
padding-top:7pt;
text-align:center;

font-style:italic;
font-size:12pt;
}

.paraSummaryAgendaSub-Heading
{
padding-top:7pt;
text-align:justify;

font-size:12pt;
}

.paraTableColumnHeading
{
text-align:center;

font-style:italic;
}

.paraTableListItem
{
padding-top:1pt;
padding-left:30pt;
text-align:justify;

}

.paraTableText
{
padding-top:1pt;
padding-left:12pt;
text-align:justify;

}

.paraTableText-centred
{
padding-top:1pt;
text-align:center;

}

.paraTableText-hanging
{
padding-top:1pt;
padding-left:12pt;
text-align:justify;

}

.paraTableTitle
{
padding-top:3.5pt;
text-align:center;

}

.paraTablingDate
{
text-align:center;

font-size:18pt;
}

.paraUndefinedparastyle
{

color:#00FF00;
}

.paraUnopposedBillSub-Heading
{
padding-top:11.5pt;
text-align:center;

font-variant:small-caps;
}

.paraUnopposedReturnHeading
{
padding-top:11.5pt;
padding-left:42pt;

}

.paraWestminsterHallHeading
{
padding-top:8pt;
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraWestminsterHallNoticesofQuestionsHeading
{
text-align:center;

font-weight:bold;
font-size:20pt;
}

.paraWestminsterHallSummaryHeading
{
padding-top:7pt;

font-weight:bold;
font-size:12pt;
}

.paraWHAdjournmentMotionTable
{
padding-top:3.5pt;

font-size:10pt;
}

.paraWHDebatesDateRange
{
padding-top:3.5pt;
text-align:justify;

font-style:italic;
}

.paraWHDebatesRubric
{
padding-top:3.5pt;
text-align:justify;

font-weight:bold;
font-style:italic;
}

.paraWHGeneralDebatesHeading
{
padding-top:3.5pt;
padding-bottom:5.75pt;
text-align:center;

font-weight:bold;
font-size:12pt;
}

.paraWHOralQuestionsNote
{
padding-top:5.75pt;
text-align:center;

font-weight:bold;
font-style:italic;
}

.paraWHOrderofBusinessHeading
{
padding-bottom:8pt;
text-align:center;

font-weight:bold;
font-size:16pt;
}

.paraWHSittingSuspensionRubric
{
padding-top:3.5pt;
text-align:center;

font-style:italic;
}

.paraWrittenMinisterialStatementsHeading
{
padding-top:14pt;
padding-bottom:10.5pt;
text-align:center;

font-weight:bold;
font-size:12pt;
}

.paraWrittenQuestionsHeading
{
padding-top:14pt;
padding-bottom:10.5pt;
text-align:center;

font-weight:bold;
font-size:12pt;
}



/* CHARACTER STYLES */

.charBallotNumber
{
color:#000000;
}

.charBillShortTitle-capsandsmallcaps
{
font-variant:small-caps;
color:#000000;
}

.charBusinessItemNumber
{
font-weight:bold;
color:#000000;
}

.charBusinessSub-ItemHeading-runin
{
}

.charConstituency
{
color:#000000;
}

.charDefaultParagraphFont
{
}

.charEndnoteReference
{
color:#000000;
vertical-align:sup;
}

.charFootnoteReference
{
font-style:italic;
color:#000000;
vertical-align:baseline;
}

.charFutureBusinessDivisionLetter
{
color:#000000;
font-size:18pt;
}

.charGCOrderofBusinessSittingOrdinal
{
text-transform:uppercase;
}

.charHyperlink
{
color:#000000;
}

.charLineNumber
{
color:#000000;
font-size:9pt;
}

.charMainBusinessItem
{
font-weight:bold;
color:#000000;
}

.charMember
{
font-weight:bold;
}

.charNoteReference
{
}

.charOrderofBusinessRubric-runonright
{
font-weight:bold;
font-style:italic;
color:#000000;
}

.charPageNumber
{
}

.charPublicorPrivate
{
font-weight:bold;
color:#000000;
}

.charQueensConsent
{
font-style:italic;
color:#000000;
}

.charQuestionProposer
{
font-style:italic;
color:#000000;
}

.charRelevantInterestDeclared
{
color:#000000;
}

.charStandingOrderAmendmentHeading-runin
{
font-variant:small-caps;
color:#000000;
}

.charStatementSubject
{
font-weight:bold;
color:#000000;
}

.charSummaryAgendaRubric-runonright
{
font-style:italic;
color:#000000;
}

.charSuspendedBill
{
font-style:italic;
color:#000000;
}

.charTransferredQuestion
{
font-style:italic;
}

.charUIN
{
font-size:7pt;
}

.charUndefinedcharstyle
{
color:#00FF00;
}

.charUprightBrackets
{
font-style:italic;
color:#000000;
}

.charWebAddress
{
color:#000000;
text-decoration:underline;
}

/*
 * Part of order2html: stylesheets to transform Order Paper
 * XML to HTML.
 *
 * core.css - static CSS for Order Paper HTML
 *
 * Internal revision information:
 *
 * $Id: core.css,v 1.5 2006/12/07 10:46:44 GBDP\andrews Exp $
 *
 * (c) 2005 Griffin Brown Digital Publishing Ltd. All rights 
 * reserved. 
 *
 */
/*
body, table
{
	font-size:11pt;	as set by built-in Word style 'Normal'
}
*/
div.SummaryAgendaSection,
div.OrderOfBusinessSection,
div.FutureBusinessSection,
div.WestminsterHallOrderPaper,
div.PapersAvailableToday
{
	padding-top:40pt;
}

.paraBusinessItemHeading, .paraBusinessSub-ItemHeading, .paraFutureBusinessItemHeading,
.paraFutureBusinessSub-ItemHeading, .paraMotionText, .paraMotionNumberedParagraph-continued, 
.paraMotionSub-Paragraph, .paraMotionSub-Paragraph-continued, .paraMotionSub-Sub-Paragraph, 
.paraFBPrivateMembersBillItemHeading,
.paraAdjournmentHeading, .paraQuestion, .paraMinisterialStatement, 
.paraMotionNumberedParagraph-hanging, .paraPrivateMembersBillItemHeading,
.paraFutureBusinessIntroText, .paraMotionText-continued, .paraUnopposedReturnHeading,
.paraSub-Section, .paraParagraph, .paraSub-Paragraph, .paraSub-Sub-Paragraph, 
.paraScheduleParagraph, .paraScheduleSub-Paragraph, .paraScheduleSub-Sub-Paragraph, 
.paraScheduleSub-Sub-Sub-Paragraph, .paraScheduleSub-Sub-Sub-Sub-Paragraph,
.paraSub-Section-continued, .paraScheduleParagraph-continued, .paraDefinitionSub-List,
.paraStandingOrderParagraph-indented, .paraStandingOrderSub-Paragraph, .paraStandingOrderSub-Sub-Paragraph
{
	padding-left:0pt;
}

div.AmendmentText div.paraMotionText
{
	padding-left:48pt;
}

table.SummaryAgendaTable
{
	padding-left:0.85cm;
}
table.OralQuestionGroup
{
/*	padding-left:60pt;*/
}
table.Adjournment
{
/*	padding-left:60pt;*/
}
table.AdjournmentList
{
	padding-left:0.85cm;
}
table.MainBusiness
{

}
table.PapersAvailableToday
{
	
}
table.FutureBusinessItem
{

}
span.Italic
{
	font-style:italic;
}

span.Bold
{
	font-weight:bold;
}

span.Superscript
{
	vertical-align:super;
}
span.charSubscript
{
	font-size: 7pt;
}
span.SmallCaps
{
	font-variant:small-caps;
}
.charQuestion
{
	text-align:justify;
}
hr.headerRule
{
	height:1.5pt;
}
hr
{
	color:black;
    clear: both;

}
.charOrderofBusinessRubric-runonright
{
	text-align:right;
}

/*
 * Italics within a style which is already italicised.
 * [To re-generate this list, specify pass parameter 
 * report-italic-styles=1 to word2styles.xsl; the result 
 * appears at standard error.]
 */
.paraAdjournmentProposedSubject .Italic,
.paraBusinessItemNote .Italic,
.paraCommitteeAppointmentRubric .Italic,
.paraCommitteeListsRubric .Italic,
.paraContinuationLine .Italic,
.paraCross-Heading-centre .Italic,
.paraCross-Heading-left .Italic,
.paraCross-Heading-right .Italic,
.paraFootnoteText .Italic,
.paraFutureBusinessDivisionNote .Italic,
.paraFutureBusinessNote .Italic,
.paraFutureBusinessRubric-centred .Italic,
.paraFutureBusinessRubric-justified .Italic,
.paraHeading2 .Italic,
.paraHeading5 .Italic,
.paraHeading8 .Italic,
.paraListofPrivateBillsPartTitle .Italic,
.paraMemberinCharge .Italic,
.paraMemorandumNote .Italic,
.paraMemorandumTableHeading .Italic,
.paraMinisterialReportsRubric .Italic,
.paraMotionCross-Heading-centreditalic .Italic,
.paraMotionCross-Heading-leftitalic .Italic,
.paraMotionNote .Italic,
.paraMotionNote-centred .Italic,
.paraOrderofBusinessNote .Italic,
.paraOrderofBusinessRubric-centred .Italic,
.paraOrderofBusinessRubric-justified .Italic,
.paraFootnoteText .Italic,
.paraFootnoteText .Italic,
.paraPapersTableHeading .Italic,
.paraPMQNote .Italic,
.paraPreliminaryBusinessSub-Heading .Italic,
.paraPrivateBillStageDate .Italic,
.paraPrivateBusinessRubric .Italic,
.paraPrivateBusinessTableColumnHeading .Italic,
.paraRelevantDepartments .Italic,
.paraStandingOrdersCommitteeSub-Heading .Italic,
.paraSummaryAgendaItemNote .Italic,
.paraSummaryAgendaNoteHeading .Italic,
.paraSummaryAgendaRubric-centred .Italic,
.paraTableColumnHeading .Italic,
.paraTableTitle .Italic,
.paraWHDebatesDateRange .Italic,
.paraWHDebatesRubric .Italic,
.paraWHOralQuestionsNote .Italic,
.paraWHSittingSuspensionRubric .Italic,
.charFootnoteReference .Italic,
.charOrderofBusinessRubric-runonright .Italic,
.charQueensConsent .Italic,
.charQuestionProposer .Italic,
.charSummaryAgendaRubric-runonright .Italic,
.charSuspendedBill .Italic,
.charTableColumnHeadingChar .Italic,
.charTransferredQuestion .Italic,
.charUprightBrackets .Italic
{
	font-style:normal;
}

/*
 * Italics within a style which is already italicised:
 *  special case.
 */
.paraFootnoteText .charFootnoteReference
{
	font-style:normal;
}

/*
 * Bold within a style which is already bold.
 * [To re-generate this list, pass parameter 
 * report-bold-styles=1 to word2styles.xsl; the result 
 * appears at standard error.]
 */
.paraAmendmentNumber .Bold,
.paraCommentSubject .Bold,
.paraClauseTitle .Bold,
.paraCommitteeGroupHeading .Bold,
.paraCommitteeListsHeading .Bold,
.paraCommitteeName .Bold,
.paraCommitteeTimeLocation-firstsitting .Bold,
.paraCommitteeTimeLocation-secondsitting .Bold,
.paraDeferredDivisionsHeading .Bold,
.paraForthcomingDebatesHeading .Bold,
.paraFutureBusinessDate .Bold,
.paraFutureBusinessDivisionHeading .Bold,
.paraFutureBusinessHeading .Bold,
.paraFutureBusinessIntroHeading .Bold,
.paraFutureBusinessNote .Bold,
.paraFutureBusinessRubric-centred .Bold,
.paraFutureBusinessRubric-justified .Bold,
.paraGCOrderofBusinessSittingDate .Bold,
.paraGCOrderofBusinessSittingLocation .Bold,
.paraGrandCommitteeHeading .Bold,
.paraGrandCommitteeName .Bold,
.paraGrandCommitteeNoticesHeading .Bold,
.paraGrandCommitteeNoticesofQuestionsHeading .Bold,
.paraGrandCommitteeOrderofBusiness .Bold,
.paraGrandCommitteeSittingDateHeading .Bold,
.paraHeader .Bold,
.paraHeading1 .Bold,
.paraHeading2 .Bold,
.paraHeading3 .Bold,
.paraHeading4 .Bold,
.paraHeading5 .Bold,
.paraHeading6 .Bold,
.paraListofPrivateBillsHeading .Bold,
.paraListofPrivateBillsPartNumber .Bold,
.paraListofPrivateBillsSession .Bold,
.paraMainBusinessHeading .Bold,
.paraMemberNameandSignature .Bold,
.paraMemorandumHeading .Bold,
.paraMemorandumRubric .Bold,
.paraMemorandumSectionHeading .Bold,
.paraMinisterialStatement .Bold,
.paraOfficeoftheExaminersHeading .Bold,
.paraOralQuestionsHeading .Bold,
.paraOrderofBusinessHeading .Bold,
.paraOrderofBusinessItemSeparator .Bold,
.paraOrderofBusinessItemTiming .Bold,
.paraOrderofBusinessNote .Bold,
.paraOrderofBusinessNoticesHeading .Bold,
.paraOrderofBusinessRubric-centred .Bold,
.paraOrderofBusinessRubric-justified .Bold,
.paraOrderofBusinessSub-SectionHeading .Bold,
.paraPapersHeading .Bold,
.paraPapersTableHeading .Bold,
.paraPetitionforPrivateBillsHeading .Bold,
.paraPMQNote .Bold,
.paraPreliminaryBusinessHeading .Bold,
.paraPrivateBusinessDailyHeading .Bold,
.paraPrivateBusinessGivenHeading .Bold,
.paraPrivateBusinessHeading .Bold,
.paraPrivateMembersBillsHeading .Bold,
.paraRelevantDepartments .Bold,
.paraSCRAOrderofBusinessHeading .Bold,
.paraSittingLocation .Bold,
.paraStandingCommitteeNoticesHeading .Bold,
.paraStandingCommitteeonRegionalAffairs .Bold,
.paraStandingOrderAmendmentNumber .Bold,
.paraSummaryAgendaHeading .Bold,
.paraSummaryAgendaItemSeparator .Bold,
.paraSummaryAgendaItemTiming .Bold,
.paraWestminsterHallHeading .Bold,
.paraWestminsterHallNoticesofQuestionsHeading .Bold,
.paraWestminsterHallSummaryHeading .Bold,
.paraWHDebatesRubric .Bold,
.paraWHOralQuestionsNote .Bold,
.paraWHOrderofBusinessHeading .Bold,
.paraWrittenMinisterialStatementsHeading .Bold,
.paraWrittenQuestionsHeading .Bold,
.charBusinessItemNumber .Bold,
.charMainBusinessItem .Bold,
.charMember .Bold,
.charOrderofBusinessRubric-runonright .Bold,
.charPublicorPrivate .Bold,
.charStatementSubject .Bold
{
	font-weight:normal;
}

/*
 * Bold character styles within bold paragraph styles.
 */
.paraCommitteeTimeLocation-firstsitting .charPublicorPrivate,
.paraCommitteeTimeLocation-secondsitting .charPublicorPrivate,
.paraMinisterialStatement .charStatementSubject
{
	font-weight:normal;
}
 

/*
 * UprightBrackets occurring in an italicised context.
 */
.paraAdjournmentProposedSubject .charUprightBrackets,
.paraBusinessItemNote .charUprightBrackets,
.paraCommitteeAppointmentRubric .charUprightBrackets,
.paraCommitteeListsRubric .charUprightBrackets,
.paraContinuationLine .charUprightBrackets,
.paraCross-Heading-centre .charUprightBrackets,
.paraCross-Heading-left .charUprightBrackets,
.paraCross-Heading-right .charUprightBrackets,
.paraFootnoteText .charUprightBrackets,
.paraFutureBusinessDivisionNote .charUprightBrackets,
.paraFutureBusinessNote .charUprightBrackets,
.paraFutureBusinessRubric-centred .charUprightBrackets,
.paraFutureBusinessRubric-justified .charUprightBrackets,
.paraHeading2 .charUprightBrackets,
.paraHeading5 .charUprightBrackets,
.paraHeading8 .charUprightBrackets,
.paraListofPrivateBillsPartTitle .charUprightBrackets,
.paraMemberinCharge .charUprightBrackets,
.paraMemorandumNote .charUprightBrackets,
.paraMemorandumTableHeading .charUprightBrackets,
.paraMinisterialReportsRubric .charUprightBrackets,
.paraMotionCross-Heading-centreditalic .charUprightBrackets,
.paraMotionCross-Heading-leftitalic .charUprightBrackets,
.paraMotionNote .charUprightBrackets,
.paraMotionNote-centred .charUprightBrackets,
.paraOrderofBusinessNote .charUprightBrackets,
.paraOrderofBusinessRubric-centred .charUprightBrackets,
.paraOrderofBusinessRubric-justified .charUprightBrackets,
.paraFootnoteText .charUprightBrackets,
.paraFootnoteText .charUprightBrackets,
.paraPapersTableHeading .charUprightBrackets,
.paraPMQNote .charUprightBrackets,
.paraPreliminaryBusinessSub-Heading .charUprightBrackets,
.paraPrivateBillStageDate .charUprightBrackets,
.paraPrivateBusinessRubric .charUprightBrackets,
.paraPrivateBusinessTableColumnHeading .charUprightBrackets,
.paraRelevantDepartments .charUprightBrackets,
.paraStandingOrdersCommitteeSub-Heading .charUprightBrackets,
.paraSummaryAgendaItemNote .charUprightBrackets,
.paraSummaryAgendaNoteHeading .charUprightBrackets,
.paraSummaryAgendaRubric-centred .charUprightBrackets,
.paraTableColumnHeading .charUprightBrackets,
.paraTableTitle .charUprightBrackets,
.paraWHDebatesDateRange .charUprightBrackets,
.paraWHDebatesRubric .charUprightBrackets,
.paraWHOralQuestionsNote .charUprightBrackets,
.paraWHSittingSuspensionRubric .charUprightBrackets,
.charFootnoteReference .charUprightBrackets,
.charOrderofBusinessRubric-runonright .charUprightBrackets,
.charQueensConsent .charUprightBrackets,
.charQuestionProposer .charUprightBrackets,
.charSummaryAgendaRubric-runonright .charUprightBrackets,
.charSuspendedBill .charUprightBrackets,
.charTableColumnHeadingChar .charUprightBrackets,
.charTransferredQuestion .charUprightBrackets
{
	font-style:normal;
}

.paraPapersTableHeading
{
	padding-left:24pt;
}

/*
 * Special inline images.
 */
img.asterisk, img.diamond
{
	display:inline !important;
	height:11.5pt;
	vertical-align:top;
}
img.portcullis
{
	height:50pt;
}
.paraPortcullis01
{
	padding-bottom:6pt;
}
.paraHouseofCommonsHeading, 
.paraSittinginWestminsterHall, 
.paraFutureBusinessHeading, 
.paraOrderofBusinessHeading
{
	padding-bottom:8pt;
}
.paraSittingDate
{
	padding-bottom:7pt;
}
.paraWHOrderofBusinessHeading
{
	padding-top:18pt;
}
.paraMotionSeparator
{
	height:5.75pt;
}
/* padding for rules */
.paraItemSeparatorRule-padding
{
	padding-top: 11.5pt;
}
.paraEndRule-padding
{
	padding-top: 5.75pt;
}
img.portcullis {
	visibility:hidden;
	height:0;
}
p.div {
	margin-bottom:0 !important;
}
.FutureBusinessDivisionNote {
	font-style:italic;
}
.FutureBusinessDateNote {
    padding-left: 63pt;
}
h3.FutureBusinessDate {
    font-size:130%;
    font-weight: bold;
    padding-left: 24pt;
    padding-top: 5.75pt;
}
h3.MotionCross-Heading-centreditalic {
    font-style: italic;
    padding-top: 11.5pt;
    text-align: center;
}

h2.ForthcomingDebatesHeading,
h2.CommitteeListsHeading,
h3.CommitteeGroupHeading,
h2.OralQuestionsHeading,
h2.SummaryAgendaHeading,
h2.PreliminaryBusinessHeading,
h2.StandingCommitteeNoticesHeading,
h2.WrittenMinisterialStatementsHeading,
h2.MainBusinessHeading,
h2.PrivateBusinessHeading,
h2.MemorandumHeading {
    font-weight: bold;
    padding-top: 11.5pt;
    text-align: center;
}
h3.PreliminaryBusinessSub-Heading {
    font-style: italic;
    text-align: center;
}

h3.PrivateBillStageHeading {
    text-align: center;
    font-variant:small-caps;

}


.OrderofBusinessNote {
    font-style: italic;
    text-align: center;
    font-weight:bold;
}

.WHOrderofBusinessHeading {
    font-size:140%;
    font-weight: bold;
    padding-top: 11.5pt;
    text-align: center;
}
h3.WHGeneralDebatesHeading {
    text-align: center;
    font-size:130%;

}

h3.MemorandumSectionHeading,p.MemorandumRubric {
    text-align: center;
    font-weight: bold;
}
h3.MemorandumSectionHeading {
	font-size:120%;
}

h4.FutureBusinessItemGroupHeading {
	padding:3.5pt 0 15px 63pt;
}
.MemberinCharge {
    padding-left: 90pt;
	font-style:italic;
}
.MainBusinessItem {
    font-weight:bold;

}

.FBPrivateMembersBillItemHeading {
    	padding-left:70pt;
	text-indent:-40pt;;
}
.BusinessItemNumber,.BusinessItemNumber-asterisk {
    padding-left:13px;
    padding-right:10px;
    font-weight:bold;
}
.BusinessItemNumber-asterisk {
    padding-left:0;
}
.FutureBusinessListItem,
.MotionSponsor,
.MotionSponsorGroup,
.MotionText,
.MotionNumberedParagraph-hanging,
.MotionNote,
.AmendmentSponsor,
.AmendmenttoMotionPreamble,
.AdjournmentProposedSubject,
.FutureBusinessNote,
.WHDebatesDateRange {
    padding-left:48pt;
    padding-top: 3.5pt;
    margin-bottom: 0 !important;
}
.FutureBusinessListItemxx {
	text-indent:13pt;
	background:url("diamondBg.gif") 48pt 3pt no-repeat;
	clear:both;
}

.MotionText {
	text-indent:35pt;
}

.CommitteeBusinessDescription {
    padding-left:48pt;
}
.NoticeText {
	text-indent:48pt;
    padding-top: 3.5pt;
    margin-bottom: 0 !important;

}
.AdjournmentProposedSubject,
.FutureBusinessNote {
	font-style:italic;
}
.FutureBusinessItemHeading,.BusinessItemHeading {
    padding-right:20pt;
    padding-top:15px;
}
.MotionNote,.SummaryAgendaRubric-runonright {
    font-style: italic;
}
.OrderofBusinessItemTiming {
	font-weight:bold;

}
.MotionNumberedParagraph-hanging {
	text-indent:-25pt;
	padding-left:73pt;
}
.MotionNumberedParagraph-indented {
	text-indent:-15pt;
	padding-left:63pt;
}
.AmendmentNumber {
	text-align:right;
	font-weight:bold;
}
.WHDebatesRubric {
	font-weight:bold;
    	font-style: italic;
	text-indent:48pt;
}
span.MSGName {
	display:block;
	float:left;
	width:29%;
}
.MotionSponsorGroup {
	width:100%;
	float:left;
}
.MotionNote-centred {
    font-style: italic;
    padding-top: 3.5pt;
    text-align: center;
}
.FutureBusinessRubric-centred,
.FutureBusinessRubric-justified,
.OrderofBusinessRubric-justified,
.OrderofBusinessRubric-centred,
.PMQNote {
    font-style: italic;
    font-weight: bold;
    padding-top: 11.5pt;
    text-align: center;

}
.FutureBusinessRubric-justified,
.OrderofBusinessRubric-justified {
    text-align: justify;
}

.OrderofBusinessRubric-justified {
	padding-left:48pt;
}

hr.ItemSeparatorRule {
	width:60%;
}
.SummaryAgendaItemTiming,.WestminsterHallSummaryHeading {
	font-weight:bold;
}
span.OrderofBusinessRubric-runonright {
	float:right;
    font-style: italic;
    font-weight: bold;
}
.Question {
	width:100%;
	padding-left:32pt;
	float:left;
}
.Question span.BallotNumber,.Question span.BallotNumberSymbol {
	float:left;
	width:5%;
}
.Question span.BallotNumberSymbol {
	width:3%;
}
.Question span.leftBlock {
	float:left;
	width:75%;
}

.CommitteeName,.CommitteeTimeLocation-firstsitting,.CommitteeTimeLocation-secondsitting {
    font-weight: bold;
}
span.Member {
    font-weight: bold;
   clear:none;
}
span.UIN {
    font-size: 80%;
}
.FootnoteText,.WHDebatesDateRange {
	font-style: italic;
}
span.FootnoteReference {
	font-style: normal;
}
.FootnoteText-indent {
	text-indent:43pt;
	font-style: italic;
}
p.OrderofBusinessItemTiming-indent {
	font-weight:bold;
	padding-left:70pt;
}
.MinisterialStatement {
	float:left;
	width:100%;
    	font-weight: bold;
}
.MinisterialStatement span.StatementSubject {
    	font-weight: normal;
}
.MinisterialStatement span.StatementNumber {
	float:left;
	width:10%;
	text-align:right;
}
.FutureBusinessIntroHeading {
    	font-weight: bold;
	float:left;
	width:100%;
}
.FutureBusinessIntroHeading span, .FutureBusinessIntroHeading a {
	display:block;
	float:left;
	width:30px;
}
.FutureBusinessIntroHeading a {
	width:auto;
}
.FutureBusinessIntroText {
	padding-left:30px;
}
.MinisterialStatement span.Statement {
	float:left;
	width:85%;
	padding-left:4%;
}
img.starImage {
	height:15px;
	width:13px;
}
img.diamondImage {
	height:15px;
	width:20px;
	margin-right:5pt;
vertical-align: top;
}
